@model IEnumerable<DataLayer.Database.Agent>

@{
    ViewBag.Title = "Registered clients available";
}

<h2>Clients</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAC)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAC)
        </td>
    </tr>
}

</table>
